.FG-splash-button {
    border-bottom-color: #ffb53d!important;
    color: #000;
    background: linear-gradient(140deg,#fbde04,#e2c803)
}

.FG-splash-button:hover {
    border-bottom-color: #ff5e00!important;
    color: #fff;
    background: linear-gradient(140deg,#ff9214,#fa8500)
}

.FG-splash-button:active {
    border-bottom-color: #ff7e33!important;
    background: linear-gradient(140deg,#ffa947,#ff9d2e)
}

.SP-splash-button {
    width: 290px;
    height: 60px;
    margin-top: 2.5rem;
    border-radius: 290486px!important;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 3px solid #fff!important;
    color: #0a0a0a;
    text-transform: uppercase;
    background: linear-gradient(180deg,#fd0,#ffbe00);
    box-shadow: 12px 14px 15px -1px rgba(0,0,0,.2)
}

.SP-splash-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 100%;
    height: 100%;
    border-radius: 290486px!important;
    opacity: 0;
    background: linear-gradient(180deg,#fff600,#ffde00);
    box-shadow: inset 0 0 7px 0 rgba(223,180,170,.53);
    transform: scale(0);
    transform-origin: 50% 100%;
    will-change: transform;
    transition: transform .3s cubic-bezier(.25,.46,.45,.94),opacity .2s cubic-bezier(.25,.46,.45,.94);
    z-index: -1
}

.SP-splash-top>div>button:active {
    transform: translateY(0)
}

.SP-splash-button:hover:before {
    top: 0;
    opacity: 1;
    transform: scale(1)
}

.SP-splash-top>div>button:active:before {
    box-shadow: inset 0 0 7px 0 rgba(224,71,36,.53),inset 0 0 7px 0 rgba(0,0,0,.35)
}

.HG-splash-button {
    height: 35px;
    line-height: 35px;
    border-bottom: none!important;
    border-radius: 5px!important;
    color: #f06000;
    background: #fff
}

.HG-splash-button:hover {
    color: #fff;
    background: #f06000
}

.BG-splash-button,.BG-splash-button:active {
    box-shadow: inset 0 3px 0 0 #00fcff,inset 20px 0 50px rgba(8,238,225,.3),inset 20px 0 300px rgba(0,200,187,.05),inset 0 20px 50px rgba(8,238,225,.3),inset 0 0 10px #affffa,4px 4px 4px 0 rgba(10,10,10,.5)!important;
    background-color: rgba(9,81,105,.5);
    border: 0;
    color: #affffa;
    width: 290px;
    height: 4rem;
    border-radius: 290486px!important;
    font-size: 1.25rem!important;
    border: 2px solid #5258b5!important;
    opacity: .7
}

.BG-splash-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 100%;
    height: 100%;
    border-radius: 290486px!important;
    opacity: 0;
    background-color: #fff;
    box-shadow: inset 0 0 7px 0 rgba(223,180,170,.53)!important;
    transform: scale(0);
    transform-origin: 50% 50%;
    will-change: transform;
    transition: transform 172ms cubic-bezier(.25,.46,.45,.94),opacity 172ms cubic-bezier(.25,.46,.45,.94);
    z-index: -1
}

.BG-splash-button:hover {
    color: rgba(0,0,0,.7)!important;
    border: 2px solid #098c9c!important
}

.BG-splash-button:active {
    border-color: transparent!important;
    color: rgba(0,0,0,.7);
    transform: translateY(0)
}

.BG-splash-button:hover:before {
    top: 0;
    opacity: 1;
    transform: scale(1)
}

.BG-splash-button:active:before {
    box-shadow: inset 0 0 7px 0 rgba(224,71,36,.53),inset 0 0 7px 0 rgba(0,0,0,.35)!important
}

body {
    position: inherit
}

.talpa-splash-background-container {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden
}

.talpa-splash-background-image {
    box-sizing: border-box;
    position: absolute;
    top: -25%;
    left: -25%;
    width: 150%;
    height: 150%;
    background-image: var(--thumb);
    background-size: cover;
    filter: blur(50px) brightness(1.5)
}

.talpa-splash-container {
    display: contents;
    flex-flow: column;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    
}

.talpa-splash-top {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    flex: 1;
    align-self: center;
    justify-content: center;
    padding: 20px;
    
}

.talpa-splash-top>div {
    text-align: center;
    margin-top: 20vh;
}

.talpa-splash-top>div>button {
    position: relative;
    min-width: 180px;
    min-height: 45px;
    line-height: 45px;
    border: 0;
    border-radius: 25px;
    border-bottom: 5px solid grey;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
    font-family: Roboto Condensed,Helvetica Neue,Arial,"sans-serif";
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: inset 0 -1px 1px hsla(0,0%,100%,.1),inset 0 1px 1px hsla(0,0%,100%,.2);
    will-change: transform;
    transition: transform .15s linear;
    margin: 0 auto;
}

.talpa-splash-top>div>button:focus {
    outline: none
}

.talpa-splash-top>div>button:active {
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.13);
    transform: translateY(-5px)
}

.talpa-loader,.talpa-loader:after {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em
}

.talpa-loader {
    box-sizing: content-box;
    margin: 0 auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border: 1.1em solid hsla(0,0%,100%,.2);
    border-left-color: #fff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: talpa-load8 1.1s linear infinite;
    animation: talpa-load8 1.1s linear infinite;
    display: none
}

.talpa-splash-top>div>div:first-child {
    position: relative;
    width: 150px;
    height: 150px;
    margin: auto auto 20px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid hsla(0,0%,100%,.8);
    box-shadow: inset 0 5px 5px rgba(0,0,0,.5),0 2px 4px rgba(0,0,0,.3);
    background-image: var(--thumb);
    background-position: 50%;
    background-size: cover
}

.talpa-splash-top>div>div>img {
    width: 100%;
    height: 100%
}

.talpa-splash-bottom {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    align-self: center;
    justify-content: center;
    width: 100%;
    padding: 0 0 20px
}

.talpa-splash-bottom>.talpa-splash-consent,.talpa-splash-bottom>.talpa-splash-title {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background: linear-gradient(90deg,transparent,rgba(0,0,0,.5) 50%,transparent);
    color: #fff;
    text-align: left;
    font-size: 12px;
    font-family: Arial;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
    line-height: 150%
}

.talpa-splash-bottom>.talpa-splash-title {
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 100%
}

.talpa-splash-bottom>.talpa-splash-consent a {
    color: #fff
}

@-webkit-keyframes talpa-load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes talpa-load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes talpa-gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}

.iframeloader {
    background: url(./images/loadinggif.gif) center center no-repeat;
    background-size: 5vw;
}